@media screen and (min-width: 768px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }
}
.loading-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
@media screen and (min-width: 768px) {
  .divider-line {
    border: none;
    border-top: 0.5px solid #c6c6c8;
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .divider-line {
    display: none;
  }
}
.failure-view-image {
  width: 260px;
  height: 127px;
}

@media screen and (min-width: 768px) {
  .failure-view-image {
    width: 560px;
    height: 274px;
  }
}

.failure-view-heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}

@media screen and (min-width: 768px) {
  .failure-view-heading {
    font-size: 32px;
    line-height: 48px;
  }
}

.failure-view-retry-button {
  padding: 8px 24px;

  width: 102px;
  height: 32px;

  background: #4094ef;
  border-radius: 8px;

  text-align: center;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .failure-view-retry-button {
    padding: 12px 32px;
    width: 127px;
    height: 48px;

    background: #4094ef;
    border-radius: 12px;

    font-size: 14px;
    line-height: 24px;
  }
}

.failure-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.post-container {
  width: 100%;
  background-color: #fafafa;
}

@media screen and (min-width: 768px) {
  .post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 1040px;
    margin: auto;
  }
}
.post-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
